<!DOCTYPE HTML>
<html>
	<head>
	
		<title>J1 Practice</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			.formfield{margin-bottom:10px;}
		</style>
	</head>
	<body>
	<p>Dog Treats Problem. <a href="https://cemc.uwaterloo.ca/contests/computing/2020/index.html">from the J1 problem hosted by the CCC.</a></p>
	<div id="app">
		<div class="formfield">
			<label>Small Treats: <label> <input v-model="treat_qty_small">
		</div>
		<div class="formfield">
			<label>Medium Treats: <label> <input v-model="treat_qty_medium">
		</div>
		<div class="formfield">
			<label>Large Treats: <label> <input v-model="treat_qty_large">
		</div>
		<div id="result">
			<div><label>show diagnostics:</label><input type="checkbox" v-model="treat_diagnostics"></div>
			<div v-if="treat_diagnostics">Treat Total: {{treat_total}}</div>
			<div v-if="treat_diagnostics">Is_Happy: {{is_happy}}</div>
			<span v-if="is_happy">{{dog_name}} is Happy!</span>
			<span v-else>{{dog_name}} is sad..</span>
		</div>
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		data:{
			treat_diagnostics:false,
			dog_name:"Barley",
			treat_qty_small:0,
			treat_qty_medium:0,
			treat_qty_large:0,
			treat_value_small:1,
			treat_value_medium:2,
			treat_value_large:3
		},
		computed:{
			treat_total:function(){
				return (this.treat_qty_small * this.treat_value_small) + 
				(this.treat_qty_medium * this.treat_value_medium) + 
				(this.treat_qty_large * this.treat_value_large);	
			},
			is_happy:function(){
				
				return this.treat_total>=10;	
			}
		}
	});
	
	</script>
	<!--
		v-model will allow you to quickly bind form elements to the data property.
		Make sure to set a default value!
		The Computed property can be used like data, except for values that are calculated from data properties.
		In this example 'treat_total' is computed from data properties, and 'is_happy' is computed from 'treat_total'.
		
		ASYNCHRONOUS LEARNING EXERCISE : J1
		- Find any J1 problem
		- Imagine an interface that allows the user to enter data on the webpage
		- Build using v-model and computed properties!
	
	-->
	</body>
</html>